<table class="table table-striped table-hover" *ngIf="! selected">
  <thead>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>image</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poke of pokemons" (click)="selected = poke">
      <td>{{poke.pokeId}}</td>
      <td>{{poke.name}}</td>
      <td>
        <img [src]="poke.img"/>
      </td>
    </tr>
  </tbody>
</table>

<div id="pokeDetail" *ngIf="selected">
  <img [src]="selected.img" alt="{{ selected.name }}" class="pokeImage" />
  <h3>{{ selected.name | uppercase }}</h3>
  <ul>
    <li *ngFor="let type of selected.types">{{ type.name }}</li>
  </ul>
  <p>Ht {{ selected.height | number: ".1-2" }}</p>
  <p>Wt {{ selected.weight | number: ".1-2" }}</p>
  <div class="clear"></div>
  <p>No. {{ selected.pokeId }}</p>
  <hr />
  <p>{{ selected.description }}</p>
  <button (click)="selected = null">Back to Pokemon List</button>
</div>
